$primary_color: #130F49;
$secondary_color: #effbf8;
$blue_color: #a5a6ff;
$yellow_color: #ff972d;
$dark_Color: #130F49;
$purple_color: #5D3BEE;
$light_blue_color: #E9F9FF;
$pink_color: #FFF5F6;
$bg_color: #F1F8FE;

$inter: 'Inter', 'sans-serif';
$karla: 'Karla', 'sans-serif';
$kristi: 'Kristi', cursive;

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}